<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <br>
  <h2>FinancePEER Application!</h2>
  <div class="jumbotron">
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up!</a>
  </div>
</div>
<%- include("./partials/footer")%>
